body {
    background-color: orange;
}

#qouteBox {
    display: flex;
    flex-direction: column;
    text-align: end;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 15em;
    margin: 5em;
}

#boxOfText {
    margin: -5em;
}

p {
    color: orange;
    font-size: large;
}

#generatorButton {
    background-color: orange;
    padding: 0.5em;
    font-weight: bold;
    color: white;
    border: none;
}